  <!-- START BREADCRUMB -->
    <ul class="breadcrumb push-down-0">
      <li><a href="#">Home</a></li>
      <li class="active">Compose</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- START CONTENT FRAME -->
    <div class="content-frame">
      <!-- START CONTENT FRAME TOP -->
      <div class="content-frame-top">
        <div class="page-title">
          <h2><span class="fa fa-pencil"></span> Compose</h2>
        </div>

        <div class="pull-right">
          <button class="btn btn-default"><span class="fa fa-cogs"></span> Settings</button>
          <button class="btn btn-default"><span class="fa fa-floppy-o"></span> Save</button>
          <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
        </div>
      </div>
      <!-- END CONTENT FRAME TOP -->

      <!-- START CONTENT FRAME LEFT -->
      <%= render partial: 'conversations/side_panel' %>
      <!-- END CONTENT FRAME LEFT -->

      <!-- START CONTENT FRAME BODY -->
      <div class="content-frame-body">
        <div class="block">
          <%= form_tag messages_path, :class => 'form-horizontal', role: "form", method: :post do %>
              <div class="form-group">
                <div class="col-md-12">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">From:</label>
                <div class="col-md-10">
                  <input type="text" value="<%= current_user.email %>" class="form-control" disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">To:</label>
                <div class="col-md-9">
                  <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control' %>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-link toggle" data-toggle="mail-cc">Cc</button>
                </div>
              </div>
              <div class="form-group hidden" id="mail-cc">
                <label class="col-md-2 control-label">Cc:</label>
                <div class="col-md-10">
                  <input type="text" class="tagsinput" value="" data-placeholder="add email"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Subject:</label>
                <div class="col-md-10">
                  <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button class="btn btn-danger"><span class="fa fa-envelope"></span> Send Message</button>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

      </div>
      <!-- END CONTENT FRAME BODY -->
    </div>
    <!-- END CONTENT FRAME -->




