<% @items_n = @items ||RequestItem.all %>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Receive Individual Goods Item</h3>
    <%= form_for(@purchase, :html=>{id: "validate", role: "form"}) do |f| %>
        <% if @purchase.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

              <ul>
                <% @purchase.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.hidden_field :request_id, :value => @id if @id %>
        <div class="form-group">
          <label class="col-md-3 control-label">Receive Item:</label>
          <div class="col-md-9">
            <%= f.select(:item_id, @items_n.map{|s| [s.item.name, s.item.id]}, class: "form-control") %>
            <span class="help-block">Select Item received</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Quantity Received:</label>
          <div class="col-md-9">
            <%= f.number_field :quantity_received, class: "form-control" %>
            <span class="help-block">Required, only numbers allowed</span>
          </div>
        </div>
        <div class="actions">
          <%= f.submit :class=>"btn btn-primary pull-right" %>
        </div>
    <% end %>
  </div>
</div>
<%= @items.inspect %>