<div class="login-container">
  <div class="login-box animated fadeInDown">
    <div class="login-logo"></div>
    <div class="login-body">
      <div class="main2 alert-info">
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
      </div>
      <div class="login-title">
        <strong>Welcome</strong>, Please login
      </div>

      <%= form_for resource, as: resource_name, :html => {:class => 'form-horizontal'}, url: session_path(resource_name) do |f| %>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
            </div>
          </div>

          <span style="margin: 5px;"></span>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: "btn btn-link"  %>
              <% end -%>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <%= render "devise/shared/links" %>
            </div>
            <div class="col-md-6">
              <%= f.submit "Log in", class: "btn btn-info btn-block" %>
            </div>
          </div>

      <% end %>

    </div>

    <div class="login-footer">
      <div class="pull-left">
        &copy; 2015 InsightInventory
      </div>
      <div class="pull-right">
        <a href="#">About</a> | <a href="#">Privacy</a> | <a href="#">Contact Us</a>
      </div>
    </div>
  </div>

</div>



