<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Unit of measurement:</b>
  <%= @item.unit_of_measurement %>
</p>

<p>
  <b>Unit price:</b>
  <%= @item.unit_price %>
</p>

<p>
  <b>Currency:</b>
  <%= @item.currency %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
